
.header{
    text-align:center;
    justify-content: center;
    display: flex;
    background-color: skyblue;
    padding: 15px 20px;
    top: 0;
    max-height: 90px;
    margin: auto;
    width: 100%;
    position: fixed;
    
    
}
body{ 
    background-image: url("image/fizzy.png"); 
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat;  
    height: 100vh; 
    width: 100vw;
}
nav{
    justify-content: center;
    position: static;
    padding: 18px 20px;
    margin-top: 94px;
    background-color: slategray;
    background-position: fixed;
    left: 0;
    right: 0;
    min-width: 150px;
    max-height: fit-content;
}
.search-bar{
         display: flex;
         max-width: 400px;
         align-items: center;
         margin: auto;
   
}
nav a{ 
    text-transform: uppercase;
    padding: 15px 40px;
    word-spacing: 0px;
    margin-right: 10px;
    margin-left: 10px;
    color: #1997FB ;
    text-decoration: none;
    font-size: 18px;
    
}
nav a:hover{
    background-color:rgb(20, 73, 122);

}

.newly-added-items{
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}
.new-product img{
    width: auto;
    height: 200px;
    margin: auto;
    display: block;
    object-fit: cover;
    
}.new-product{
    margin: 10px;
    padding: 8px 10px;
    text-transform: uppercase;
    text-align: center;
    border: none;
    transition:box-shadow 0.3s ease;
    line-height: 5px;
    width: 200px;
    height: 370px;
  
}.new-product:hover{
box-shadow: 8px 8px 21px rgba(0, 0, 0, 0.8);
}
.footer p{
    position: absolute;
    padding: 10px 20px;
    width: 100%;
    color:blue;
    background-color: skyblue;
    text-align: center;
    font-family: 'Segoe UI';
    top: 500%;
    right: 0;
    left: 0;
}
.add-to-cart{
  position: relative;
  display: inline-block;
  
}.add-to-cart img{
    cursor: pointer;
    height: 45px;
    width: 40px;
    display: block;
    margin: auto;
    margin-right: 40px;
    padding: 10px 20px;
    border: 2px solid skyblue;
    transform: scale(1);
    
}.add-to-cart img:hover{
    transform: scale(1.2);
}
.quantity-shower{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: slategray;
    padding: 1px;
    height: 25px;
    width: 25px;
    font-size: 20px;
    border-radius: 50%;
    margin-right: 5px;
    font-weight: 500;
    color: white;
    position: absolute;
    top: 8%;
    left: 38%;
    transform: translate(-50%,-50%);
    margin-right: 30px;
}
.page-icon img{
    height: 50px;
    width: 50px;
    filter: drop-shadow(2px 8px 8px #020a10f0) ;
    display: flex;
    margin-left: 20px;
}
.search-bar img {
    height: 37px;
    width: 36x;
    margin: 0;
    border: none;
    padding: 2px 2px;
}
.search-bar button:hover{
    background-color: #1997FB;
}
.search-bar input{
    padding: 10px 15px;
    max-width: 500px;
    width: 600px;
    height: 26px;
    margin: 0;
    background-color: white;
    border: none;
    border-radius: 20px 0  0 20px;
    font-size: larger;

}
.search-bar button{
    border-radius: 0 20px 20px 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color:white ;
}

.page-menu button{
    display: flex;
    background: none;
    width: 40px;
    height: 55px;
    border: none;
    margin-right:10px;
   
  
}
.menu-option a{
    text-transform: capitalize;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
.menu-option{    
    text-align: center;
    align-items: center;
    background-color: white;
    padding: 10px 70px;    
}

.menu-option a img{
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    margin-right: 120px;

}
.arrow-drop{
    display: inline-block;
    position: relative;
}
.arrow-drop img{
    display: flex;
    background: none;
    width: 28px;
    height: 35px;
    margin-top: 24px;
    transform: rotate(90deg);
    border: none;
    margin-right:10px;
    cursor: pointer;
   
} .arrow-drop img:hover{
    transform: rotate(-90deg);
}
.dropdown{
    display: inline-block;
    position: relative;
}
.dropdown button{
    background-color: skyblue;
    font-size: 23px;
    margin-top: 5px;
    font-family:italic;
    margin-right: 9px;
    border: 2px solid skyblue;
    color: slategray;
    padding: 10px 20px;
    cursor: pointer;
}
.dropdown a{
    display: block;
    text-decoration: none;
    padding: 13px 40px;
    background-color: white;
    color: black;
}
.cointaner{
    display: none;
    position: absolute;
    background-color: #1997FB;
    max-width: 200px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);

}
.dropdown button:hover{
    color: white;
}
.dropdown:hover .cointaner{
    display: block;
}
.dropdown a:hover{
    background-color: #2b00ff50;
}
.cart-button{
    padding: 20px 20px;
    background-color: #00bbff;
    color: #001933;
    font-weight: 300;
    border: none;
    cursor: pointer;
}
.buy-button{
    padding: 20px 20px;
    background-color: #1619e4;
    color:#00FFFF;
    font-weight: 300;
    border: none;
    cursor: pointer;
}
#stock-over{
    text-align: center;
    text-transform: capitalize;
    font-family: system-ui;
    align-items: center;
    font-size: 30px;
}