
.header{
    text-align:center;
    justify-content: center;
    display: flex;
    background-color: skyblue;
    padding: 15px 20px;
    top: 0;
    margin: 0;
    width: 100%;
    position: fixed;
    
}
body{ 
    background-image: url("image/fizzy.png"); 
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat;  
    height: 100vh; 
    width: 100vw;
}
nav{
    justify-content: center;
    position: static;
    padding: 15px 20px;
    margin-top: 94px;
    background-color: slategray;
    background-position: fixed;
    left: 0;
    right: 0;

}
.search-bar{
         display: flex;
         max-width: 400px;
         align-items: center;
         margin: auto;
   
}
nav a{ 
    text-transform: uppercase;
    padding: 15px 40px;
    word-spacing: 0px;
    margin-right: 10px;
    margin-left: 10px;
    color: #1997FB ;
    text-decoration: none;
    font-size: 18px;
    
}

nav a:hover{
    background-color:rgb(20, 73, 122);

}
.items{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}
.list-iteams img{
    max-width: 100%;
    height: auto;
}
.list-iteams{
    margin: 15px;
    padding: 10px;
    background-color: rgb(rgb(56, 133, 180));
    border: 2px solid;
    text-transform: uppercase;
    text-align: center;
    width: 100px;
}
.footer p{
    position: absolute;
    padding: 10px 20px;
    width: 100%;
    color:blue;
    background-color: skyblue;
    text-align: center;
    font-family: 'Segoe UI';
    top: 150%;
    right: 0;
    left: 0;
}
.page-menu button{
    display: flex;
    background: none;
    width: 40px;
    height: 55px;
    border: none;
    margin-right:25px ;
    cursor: pointer;
  
}
.page-menu button:hover{
 border-color: #1997FB;
}
.add-to-cart{
  position: relative;
  display: inline-block;
  
}.add-to-cart img{
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: block;
    margin: auto;
    margin-right: 30px;
    padding: 10px 20px;
    border: 2px solid skyblue;
    
}
.add-to-cart span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1px;
    font-size: 25px;
    margin-right: 5px;
    font-weight: 500;
    color: slategray;
    position: absolute;
    top: 15%;
    left: 39%;
    transform: translate(-50%,-50%);
    margin-right: 30px;
}
.add-to-cart img:hover{
    border-color:#0788ec;
}

.page-icon img{
    height: 50px;
    width: 50px;
    filter: drop-shadow(2px 8px 8px #020a10f0) ;
    display: flex;
}
.search-bar img {
    height: 37px;
    width: 36x;
    margin: 0;
    border: none;
    padding: 2px 2px;
}
.search-bar button:hover{
    background-color: #1997FB;
}
.search-bar input{
    padding: 10px 15px;
    max-width: 500px;
    width: 600px;
    height: 26px;
    margin: 0;
    background-color: white;
    border: none;
    border-radius: 20px 0  0 20px;
    font-size: larger;

}
.search-bar button{
    border-radius: 0 20px 20px 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color:white ;
}
.dropdown{
    display: inline-block;
    position: relative;
}
.dropdown button{
    background-color: skyblue;
    font-size: 23px;
    margin-top: 5px;
    font-family:italic;
    margin-right: 9px;
    border: 2px solid skyblue;
    color: slategray;
    padding: 10px 20px;
    cursor: pointer;
}
.dropdown a{
    display: block;
    text-decoration: none;
    padding: 13px 40px;
    background-color: #3b89ab;
    color: skyblue;
}
.dropdown .cointaner{
    display: none;
    position: absolute;
    background-color: #1997FB;
    max-width: 200px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);

}
.dropdown button:hover{
    border-color:#0788ec;
}
.dropdown:hover .cointaner{
    display: block;
}
.dropdown a:hover{
    background-color: #2d77b350;
}